<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>storgeCheck.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2436981B1CAA4B2E0027B0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>243698341CAA4B2F0027B0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2436983F1CAA4B2F0027B0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
